/* Header Section */
.container__footer {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  text-align: center;
  padding: 0 .3em;
  color:rgb(241, 241, 226);
  /* background-image:url("../../images/cloudsheader.jpg"); */
  background: linear-gradient(to bottom, rgba(149, 126, 204, 0.12) 70%,rgb(21, 24, 54) 100%);  min-height: 8vh;
  background-color: midnightblue;
  }

  h6 {
    text-shadow: 5px 5px 5px #5a6e80;
  }

  h6:hover {
    color: rgb(63, 200, 200);
    transition: all 0.5s
  }


    .body__footer {
    display: flex;
    flex-flow: row;
        height: auto;
        width: auto;
        justify-content: center;
        font-size: small;
        color: #f3f3f3;
    }
    .footer__text {
        flex: 1 0 100%;
        height: auto;
        width: auto;
        justify-content: center;
        text-align: center;
    }

    .paragraph__footer__copyright {
        margin: 0;
        font-size: .8em;
        justify-items: center;
    }


    .button__footer__logout {
        display: flex;
        justify-self: flex-start;
        width: fit-content;
        margin: 0 auto 0 auto;
        font-size: .8vw;
    }