.image-sizing {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

img, .sidebar-heading {
    margin-bottom: 1em;
}

.list-group-flush a {
    margin: -1vh 0;
}

hr {
    margin-bottom: .2em;
}