.container__navbar {
    width: 15vw;
    height: auto;
}

.image-sizing {
    width: 8vw;
    height: 13vh;
    border-radius: 50%;
}

img, .sidebar-heading {
    margin-bottom: 1em;
}

.list-group-flush a {
    margin: .1vh 0;
}

hr {
    margin-bottom: .2em;
}

.list-group-item, .sidebar-heading, .div__messages__header {
    text-shadow: 5px 5px 5px #5a6e80;
}