.friend__User__News {
    background-color: cornsilk;
    font-style: italic;
    font-size: 1em;
}

.TinyLink_Element {
   background-color: darkblue;
}

.user_News_Cont {
    display: flex;
    justify-content: space-between;
}
