.friends {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-friends {
    margin-top: 1em;
    margin-left: 1em;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    background-color:black;
}
.friend {
    margin-top: 1em;
    border: 1px solid black;
    box-shadow: 0px 0px 4px;
        flex: 0 1 24%;
    
}
